<div class="game-page">
  <!-- Header -->
  <mat-toolbar color="primary" class="toolbar">
    <span>RunGame 🎮</span>
  </mat-toolbar>

  <!-- Intro -->
  <div class="intro">
    <h2>Welcome to the Game!</h2>
    <p>Survive as long as you can...</p>
  </div>

  <!-- Divider -->
  <mat-divider></mat-divider>
  <mat-form-field >
    <mat-label>Please enter your name !</mat-label>
      <input matInput type="text" name="Enter your name" [(ngModel)]="playerName" [disabled]="showGame"/>    
    </mat-form-field>
  <!-- Controls -->
  <div class="controls">
    <button mat-raised-button color="accent" matButton="filled" [disabled]="!playerName" (click)="toggleGame()">
      {{ showGame ? 'Stop game' : 'New Game' }}
    </button>
  </div>

  <!-- Game Container -->
  <div class="game-container" *ngIf="gameStarted">
    <app-game></app-game>
  </div>
</div>


